@media screen and (max-width: 767px) {
  .header-wrapper {
    max-width: 320px;
    &_list {
      position: absolute;
      top: 48px;
      right: 0;
      width: 182px;
      height: 208px;
      background-color: #F5F5F5;
      flex-direction: column;
      display: none;
      &-active {
        display: flex;
      }
      &_item {
        font-size: 11px;
        margin-right: auto;
        margin-left: 0;
        height: 32px;
        width: 182px;
        display: flex;
        align-items: center;
        &_link {
          padding-left: 13px;
        }
      }
      &_item:hover {
        background-color: #E5E5E5;
        cursor: pointer;
        transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        -ms-transition: background-color 0.5s ease;
      }
      &_item:hover .header-wrapper_list_item_link {
        color: $green-hover-color;
      }
    }
    &_button {
      display: block;
      cursor: pointer;
    }
    &_button-closed {
      width: 100%;
    }
    &_button-open {
      width: 100%;
    }
  }
  .intro-container {
    max-width: 320px;
  }
  .posts {
    max-width: 320px;
    padding-top: 38px;
    &_title {
      font-size: 14px;
    }

    &_news {
      height: 680px;

      &_box {
        width: 320px;
        flex-direction: column;
        padding-bottom: 25px;
        &_texts {
          &_text1 {
            padding-top: 11px;
            font-size: 14px;
          }
          &_text2 {
            font-size: 11px;
          }
          &_text3 {
            display: none;
          }
        }
      }
      &_box:last-child {
        display: none;
      }
    }
  }
  .shots {
    height: 416px;
    background-color: white;
    &_title {
      max-width: 320px;
      padding: 30px 0 13px 0;
      &_1 {
        font-size: 14px;
      }
      &_2 {
        display: none;
      }
    }
    &_images {
      max-width: 320px;
      a {
        width: 301px;
        height: 301px;
        margin: 0 auto;
      }
      a:not(:first-child) {
        display: none;
      }
    }
  }
  .footer {
    height: 315px;
    &_container {
      max-width: 320px;
      padding-top: 38px;
      &_block1{
        font-size: 14px;
        padding-bottom: 8px;
      }
      &_block2 {
        font-size: 12px;
        width: 303px;
        line-height: 20px;
        padding-bottom: 26px;
      }
      &_block3 {
        padding-bottom: 25px;
      }
      &_block4 {
        font-size: 14px;
        width: 235px;
        height: 63px;
        display: flex;
        flex-direction: column;
        &_slash {
          display: none;
        }
      }
    }
  }
}
* {
  margin: 0 auto;
}