@media screen and (max-width: 1199px) {
  .header-wrapper {
    max-width: 768px;
    padding: 23px 0 43px 0;
    &_list {

    }
  }
  .intro-container {
    max-width: 768px;
  }
  .posts {
    max-width: 768px;
    padding-top: 56px;
    &_news {
      height: 680px;
    }
  }
  .shots {
    &_title {
      max-width: 768px;
    }
    &_images {
      max-width: 768px;
      a {
        width: 249px;
        height: 249px;
      }
      a:last-child {
        display: none;
      }
    }
  }
  .footer {
    height: 332px;
    &_container {
      max-width: 768px;
      padding-top: 57px;
    }
  }
}