@import "mixin";
@import "variables";


* {
  font-family: 'Roboto', sans-serif !important;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
svg {
  box-sizing: border-box;
}

header {
  @include flex-element(center, center);
}

.visible {
  display: block;
}
.hidden {
  display: none;
}

.header-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 45px 0 51px 0;
  position: relative;
  &_button {
    display: none;
    width: 44px;
    height: 37px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;

  }

  &_list {
    width: 600px;
    margin: 0 auto;
    @include flex-element(space-between, center);
    display: flex;
    text-align: left;

    &_item {
      &_link {
        color: $dark-grey-color;

        &:hover {
          color: $green-hover-color;
        }
      }
    }
  }
}

.intro-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  &_picture {
    width: 100%;
  }
}

.posts {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 66px 0 40px 0;

  &_title {
    color: $dark-grey-color;
    padding-bottom: 25px;
    font-weight: 700;
  }

  &_news {
    height: 345px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;

    &_box {
      width: 600px;
      padding-bottom: 30px;
      @include flex-element(space-between, top);

      &:hover .posts_news_box_texts_text1 {
        color: $green-hover-color;
      }

      img {
        padding-right: 20px;
        width: 160px;
        height: 140px;
      }

      &_texts {
        &_text1 {
          color: $dark-grey-color;
          padding-bottom: 10px;
          font-weight: 700;
        }

        &_text2 {
          color: $light-grey-color;
          padding-bottom: 15px;
        }

        &_text3 {
          color: $grey-color;
        }
      }
    }
  }
}

.shots {
  background-color: $cream-background;
  height: 428px;

  &_title {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include flex-element(space-between, top);
    padding: 47px 0 24px 0;

    &_1 {
      color: $dark-grey-color;
      font-weight: 700;
    }

    &_2 {
      color: $dark-grey-color;
      font-weight: 700;
    }
  }

  &_images {
    @include flex-element(space-between, top);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    a {
      width: 285px;
      height: 285px;

      img {
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: $black-background;
  height: 355px;

  &_container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include flex-element(center, center);
    flex-direction: column;
    text-align: center;
    padding-top: 66px;

    &_block1 {
      color: $close-white-color;
      font-weight: 700;
      padding-bottom: 22px;
    }

    &_block2 {
      color: $close-grey-color;
      width: 684px;
      line-height: 28px;
      padding-bottom: 37px;
      &_additional-text {
        display: none;
      }
    }

    &_block3 {
      padding-bottom: 34px;
      width: 192px;
      @include flex-element(space-between, top);
    }

    &_block4 {
      color: $close-grey-color;
      width: 613px;
      @include flex-element(space-between, top);

      &_phone {
        color: $close-grey-color;
        text-decoration: none;
      }

      &_link {
        color: $close-grey-color;
        text-decoration: none;
      }
    }
  }
}

@import "media-screen-tablet";
@import "media-screen-mobile";

