$dark-grey-color: #4E4E4E;
$green-hover-color: #57A4A4;
$grey-color: #5C5C5C;
$light-grey-color: #7C7C7C;
$cream-background: rgb(247,247,247);
$black-background: #000000;
$close-white-color: #FEFEFE;
$close-grey-color: #B9B9B9;
